body {
  font-family: Arial, sans-serif;
}



.header {
  background: rgb(45,222,253);
  background: linear-gradient(0deg, rgb(2, 90, 219) 0%, rgb(6, 27, 73) 100%);;
  color: white;
  text-align: center;
  padding: 100px 0;
}

.header h1 {
  font-size: 40px;
  margin: 0;
}

.header p {
  font-size: 20px;
  margin: 10px 0 0 0;
}

.navbar {
  background-color: #392828;
  overflow: hidden;
  display: flex;
  justify-content: center;
}


.navbar a {
  color: rgb(255, 255, 255);
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  margin: 0 20px;
  transition: background-color 1s ease-in-out;
  border-radius: 10%;
}

.navbar a:hover {
  background-color: #41e46f;
  color: black;
  border-radius: 10%;
}

.main {
  background:  linear-gradient(0deg, rgba(129, 175, 220, 0.5) 0%, rgba(14, 98, 222, 0.5) 100%);
  padding: 10px 40px 40px;
}

.main h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
}

.main p {
  font-size: 16px;
  line-height: 1.5;
}

.footer {
  background:  linear-gradient(0deg, rgba(60, 74, 75, 0.5) 0%, rgba(112, 114, 120, 0.5) 100%);
  color: #333;
  padding: 20px;
  text-align: center;
  font-size: 16px;
}
.logo {
  border-radius: 50%;
}
/* Contact Section */
.contact-section {
  padding: 40px 0;
  text-align: center;
}

.contact-section h2 {
  margin-bottom: 30px;
  font-size: 30px;
}

.contact-section form {
  margin-top: 30px;
  display: inline-block;
}

.contact-section form .form-group {
  margin-bottom: 20px;
}

.contact-section form label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.contact-section form input[type="text"],
.contact-section form input[type="email"],
.contact-section form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.contact-section form button[type="submit"] {
  background-color: #392828;
  color: white;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.contact-section form button[type="submit"]:hover {
  background-color: #41e46f;
  color: black;
}
