body {
  font-family: Arial, sans-serif;
}



.header {
  background: rgb(45,222,253);
  background: linear-gradient(0deg, rgb(2, 161, 219) 0%, rgb(6, 27, 73) 100%);;
  color: white;
  text-align: center;
  padding: 100px 0;
}

.header h1 {
  font-size: 40px;
  margin: 0;
}

.header p {
  font-size: 20px;
  margin: 10px 0 0 0;
}

.navbar {
  background-color: #392828;
  overflow: hidden;
  display: flex;
  justify-content: center;
}


.navbar a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  margin: 0 20px;
  border-radius: 10%;
}

.navbar a:hover {
  box-shadow: inset 150px 0 0 0 #54b3d6;
  color: white;
}

.main {
  background:  linear-gradient(0deg, rgba(17, 237, 2, 0.56) 0%, rgba(15, 203, 224, 0.86) 100%);
  padding: 10px 40px 40px;
}

.main h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
}

.main p {
  font-size: 16px;
  line-height: 1.5;
}

.footer {
  background:  linear-gradient(0deg, rgba(60, 74, 75, 0.5) 0%, rgba(112, 114, 120, 0.5) 100%);
  color: #333;
  padding: 20px;
  text-align: center;
  font-size: 16px;
}
.logo {
  border-radius: 50%;
}
/* Contact Section */
.contact-section {
  padding: 40px 0;
  text-align: center;
}
