body {
  font-family: Arial, sans-serif;
}



.header {
  background: rgb(45,222,253);
  background: linear-gradient(0deg, rgb(2, 90, 219) 0%, rgb(6, 27, 73) 100%);;
  color: white;
  text-align: center;
  padding: 100px 0;
}

.header h1 {
  font-size: 40px;
  margin: 0;
}

.header p {
  font-size: 20px;
  margin: 10px 0 0 0;
}

.navbar {
  background-color: #392828;
  overflow: hidden;
  display: flex;
  justify-content: center;
}


.navbar a {
  color: rgb(255, 255, 255);
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  margin: 0 20px;
  transition: background-color 1s ease-in-out;
  border-radius: 10%;
}

.navbar a:hover {
  background-color: #41e46f;
  color: black;
  border-radius: 10%;
}

.main {
  background:  linear-gradient(0deg, rgba(129, 175, 220, 0.5) 0%, rgba(14, 98, 222, 0.5) 100%);
  padding: 10px 40px 40px;
}

.main h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
}

.main p {
  font-size: 16px;
  line-height: 1.5;
}

.footer {
  background-color: #ddd;
  color: #333;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}
.logo {
  border-radius: 50%;
}
